.content {
  height: calc(var(--spacer) * 14);
  padding: var(--spacer) 0;
}
.not-supported {
  color: var(--error);
  font-size: calc(var(--spacer) + var(--spacer-quarter));
  font-weight: 300;
}
.width {
  max-width: calc(var(--spacer) * 40);
  min-width: calc(var(--spacer) * 20);
  width: 50%;
}
