.page {
  height: calc(100vh - var(--spacer) * 3);
}
.page-mobile {
  height: 100%;
}
.page-title {
  font-size: calc(var(--spacer) * 3);
  font-weight: 100;
  letter-spacing: calc(var(--spacer-quarter));
  text-transform: uppercase;
}
.width {
  max-width: calc(var(--spacer) * 40);
  min-width: calc(var(--spacer) * 20);
  width: 50%;
}
